/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* 1248px / 16px = 78em */
@media (max-width: 78em) {
  .container {
    max-width: 95rem;
  }

  .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .profile-box {
    justify-items: start;
  }

  .section-profile-info {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2.5rem;

    padding: 0 3.2rem;
    margin-top: 3.2rem;
  }

  .profile-img {
    background-image: url(../img/profile-img-medium.jpg);
    width: 12rem;
    height: 12rem;
    margin-bottom: 0;
  }

  .profession {
    margin-bottom: 0;
  }

  .btn-container {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile-btn {
    background-color: #2b2b2cbf;
    border: rgba(81, 81, 81, 0.5) solid 1px;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    border-bottom: none;
    padding: 0 2rem 0.8rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: #d6d6d6;
    transition: all 0.3s;
    cursor: pointer;
  }

  .profile-btn:hover,
  .profile-btn:active {
    color: #ffdb70;
  }

  .profile-btn p {
    display: flex;
    justify-content: center;
  }

  .arr-icon {
    transform: translateY(0.65rem);
    width: 2.2rem;
    height: 2.2rem;
  }

  .section-contact {
    display: none;
  }

  .contact-grid {
    grid-template-columns: auto auto;
    justify-content: start;

    margin-bottom: 3.2rem;
  }

  .contact-container::after {
    content: "";
    display: block;
    background-color: rgba(81, 81, 81, 0.5);
    width: 100%;
    height: 1px;
    margin-bottom: 3.2rem;
  }

  .social-list {
    justify-content: start;
    margin-bottom: 0;
  }

  .section-skills {
    display: none;
  }

  .skills-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .show-skill-set {
    display: none;
  }

  .visible {
    display: block;
  }

  .nav-box {
    grid-column: 1;
  }
}

/* 1023px / 16px = 6pem */
@media (max-width: 64em) {
  .container {
    max-width: 70rem;
    margin-bottom: 10rem;
  }

  .main-nav-list {
    width: 100%;
    justify-content: center;
    position: fixed;
    right: auto;
    top: auto;
    left: 0;
    bottom: 0;
    border-top-right-radius: 1.6rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 1.6rem;
    border: rgba(81, 81, 81, 0.5) solid 1px;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }

  .service-box {
    grid-template-columns: 1fr 15fr;
  }

  /* .tech-link-box {
    flex: 0 0 calc(33.33% - 2rem);
  } */
}

/* 767px / 16px = 48rem */
@media (max-width: 48rem) {
  .container {
    max-width: 52rem;
  }

  .contact-grid {
    grid-template-columns: 1fr;
  }

  .skills-grid {
    grid-template-columns: 1fr 1fr;
  }

  .hi,
  .hi-animation {
    font-size: 3.6rem;
  }

  .tech-link-box {
    width: 8rem;
    height: 8rem;
  }

  .empty-box {
    width: 8rem;
    height: 8rem;
  }

  .tech-icon {
    width: 6rem;
    height: 6rem;
  }
}

/* 576px / 16px = 36rem */
@media (max-width: 36.19rem) {
  .container {
    max-width: 54rem;
    margin: 1.6rem auto;
  }

  .main-content {
    padding: 0 1.6rem;
    margin-top: 0;
  }

  /* .main-nav {
    background-color: rgba(43, 43, 44, 0.749);
    backdrop-filter: blur(10px);
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100vh;
    z-index: 99999;
    transition: all 0.5s ease-in;

    opacity: 0;

    pointer-events: none;

    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .main-nav-list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    backdrop-filter: none;
    border: none;
    height: 100vh;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2.4rem;
  }

  .btn-mobile-nav {
    display: block;
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 99999;
  }

  .icon-mobile-nav {
    width: 4.8rem;
    height: 4.8rem;
    color: #d6d6d6;
    background-color: none;
  }

  .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .icon-mobile-nav[name="menu-outline"] {
    display: none;
  } */

  /* .about-me-text,
  .service-text {
    font-size: 1.4rem;
  } */

  /* .section-about-me {
    margin-top: 0;
  } */

  .nav-box-heading {
    top: 1.6rem;
    left: 1.6rem;
    font-size: 2.4rem;
  }

  .nav-box-heading::after {
    top: 3.3rem;
    width: 3rem;
    height: 0.25rem;
  }

  .section-profile-info {
    padding: 1.6rem 1.6rem 0;
    margin: 0;
    column-gap: 1.4rem;
  }

  .profile-img {
    background-image: url(../img/profile-img-small.jpg);
    width: 8rem;
    height: 8rem;
    margin-bottom: 0;
  }

  .name {
    font-size: 1.8rem;
    margin-bottom: 1.4rem;
  }

  .profession {
    font-size: 1.2rem;
  }
}
