/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- Colors
main color: #e28b26
secondary color: #ffdb70

nav color: #2b2b2cbf

font color 1: #fafafa
font color 2: #d6d6d6

border color: #51515180

--- 06 BORDER-RADIUS

Default: 1.6rem
Medium: 1.2rem
*/

/****************************************************/
/* LAYOUT */
/****************************************************/

.profile-box,
.nav-box {
  width: 100%;
  background-color: #1e1e1f;
  border-radius: 1.6rem;
  border: #51515180 solid 1px;
  align-self: start;
}

.profile-box {
  grid-column: 1;
  grid-row: 1 / -1;
}

.nav-box {
  grid-column: 2;
}

/****************************************************/
/* PROFILE BOX */
/****************************************************/

/**************************/
/* GENERAL */
/**************************/

.profile-box-devider {
  background-color: rgba(81, 81, 81, 0.5);
  width: 100%;
  height: 1px;
  margin-bottom: 3.2rem;
}

.content {
  margin-top: 1.6rem;
}

/**************************/
/* PROFILE INFO SECTION */
/**************************/

.section-profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6.4rem 0 0;
}

.profile-img {
  background-image: url(../img/profile-img.jpg);
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin-bottom: 3.2rem;
}

.name {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.profession {
  font-size: 1.4rem;
  text-align: center;
  background-color: #2e2e2e;
  padding: 0.6rem 2rem;
  border-radius: 0.7rem;
  margin-bottom: 3.2rem;
}

/**************************/
/*BUTTON CONTAINER */
/**************************/

.btn-container {
  display: none;
}

/**************************/
/*CONTACT SECTION */
/**************************/

.section-contact {
  width: 100%;
  padding: 0 3.2rem;
}

.contact-container {
  width: 100%;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.4rem;
  margin-bottom: 2.4rem;
}

.contact-box {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.contact-box p {
  font-size: 1.2rem;
  color: #d6d6d6b2;
  margin-bottom: 0.8rem;
}

.contact-box a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #fafafa;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 1.5rem;

  margin-bottom: 3.2rem;
}

.social-link {
  color: #d6d6d6b2;
}

.social-icon {
  width: 1.8rem;
  height: 1.8rem;
}

/**************************/
/*SKILLS SECTION */
/**************************/

.section-skills {
  width: 100%;
  padding: 0 3.2rem;
}

.main-heading {
  color: #e28b26;
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 2.4rem;
}

.skills-grid {
  display: grid;
  grid-template-columns: auto;
  gap: 4.8rem;
  margin-bottom: 3.2rem;
}

.frontend,
.backend,
.databases {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.secondary-heading {
  color: #ffdb70;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.skill-name {
  font-size: 1.6rem;
}

.profile-skill {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.skill-circle {
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 50%;
  /* background-color: #ffdb70; */
  background: conic-gradient(#ffdb70 0%, #2e2e2e 0%);
  transition: all 0.3s linear;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* .react {
  background: conic-gradient(#ffdb70 80%, #2e2e2e 20%);
}

.nodejs {
  background: conic-gradient(#ffdb70 75%, #2e2e2e 25%);
}

.mysql {
  background: conic-gradient(#ffdb70 70%, #2e2e2e 30%);
} */

.background-circle {
  width: 4.4rem;
  height: 4.4rem;
  background-color: #1e1e1f;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.percentage {
  font-weight: 600;
  font-size: 1.2rem;
}

/****************************************************/
/* NAV BOX */
/****************************************************/

.nav-box {
  position: relative;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav {
  width: 100%;
  height: 6.4rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  padding: 2.4rem 3.2rem;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(43, 43, 44, 0.749);
  backdrop-filter: blur(10px);
  z-index: 99999;
  border-top-right-radius: 1.6rem;
  border-bottom-left-radius: 1.6rem;
  border-left: rgba(81, 81, 81, 0.5) solid 1px;
  border-bottom: rgba(81, 81, 81, 0.5) solid 1px;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #d6d6d6;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #b4b4b4;
}

.main-nav-link.active {
  color: #ffdb70;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/**************************/
/* HERO SECTION */
/**************************/

.nav-box-heading {
  position: absolute;
  top: 4.8rem;
  left: 3.2rem;
  font-size: 3rem;
  font-weight: 600;
}

.nav-box-heading::after {
  content: "";
  width: 4rem;
  height: 0.5rem;
  background-color: #ffdb70;
  border-radius: 0.3rem;
  position: absolute;
  top: 5rem;
  left: 0;
}

/****************************************************/
/* MAIN-CONTENT-ABOUT */
/****************************************************/
.hi,
.hi-animation {
  font-size: 5.2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 1px;
}

.hero .hi {
  color: #fafafa;
}

.hero .hi-animation {
  color: #e28b26;
}

.cursor {
  display: inline-block;
  animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/**************************/
/* ABOUT ME SECTION */
/**************************/

.about-me-text {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
}

/**************************/
/* SERVICE SECTION */
/**************************/

.section-services {
  margin-top: 4.8rem;
}

.services-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem;
}

.service-box {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2.4rem;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.02),
    rgba(0, 0, 0, 0.06)
  );
  border: rgba(81, 81, 81, 0.5) solid 1px;
  border-radius: 1.2rem;
  padding: 3.2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.code-icon {
  transform: translateY(-0.5rem);
}

.phone-icon {
  transform: translateY(0.1rem);
}

.cloud-icon {
  transform: translateY(-0.25rem);
}

.service-icon {
  color: #ffdb70;
  width: 4rem;
  height: 4rem;
}

.service-text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  padding-top: 1.6rem;
}

/**************************/
/* TECH STACK SECTION */
/**************************/

.section-tech-stack {
  margin-top: 4.8rem;
  margin-bottom: 6.4rem;
}

.tech-carousel {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.viewport {
  flex: 1;
}

.viewport-1 {
  display: flex;
  flex: 0 0 25%;
  justify-content: space-between;
}

.viewport-2 {
  display: none;
  flex: 0 0 25%;
  justify-content: space-between;
}

.viewport-3 {
  display: none;
  flex: 0 0 25%;
  justify-content: space-between;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 4.4rem;
  height: 4.4rem;
  font-size: 2rem;
  color: #fff;
  background-color: #353535;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s;
}

.arrow:disabled {
  color: #fff;
  opacity: 0.3;
  cursor: default;
}

.arrow:hover {
  color: #ffdb70;
  font-size: 2.4rem;
}

.arrow:disabled:hover {
  color: #fff;
  font-size: 2rem;
}

.tech-link-box {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 14rem;
  height: 14rem;
  border-radius: 3rem;
  background-color: rgba(40, 54, 85, 0.705);
  transition: all 0.3s;
}

.js-bg {
  background-color: #f0db4f;
}

.ts-bg {
  background-color: #007acc;
}

.next-bg {
  background-color: #000;
}

.tech-link-box:hover {
  transform: scale(1.1);
}

.tech-icon {
  width: 12rem;
  height: 12rem;
}

.empty-box {
  width: 14rem;
  height: 14rem;
  visibility: hidden;
}

.carousel-progress {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.carousel-track {
  position: relative;
  width: 90%;
  height: 4px;
  background-color: #3a3a3a;
  border-radius: 2px;
  overflow: hidden;
}

.carousel-thumb {
  position: absolute;
  top: -4px;
  width: 48px;
  height: 12px;
  background-color: #ffdb70;
  border-radius: 6px;
  cursor: grab;
  transition: left 0.3s ease;
}

/****************************************************/
/* MAIN-CONTENT-JOURNEY */
/****************************************************/

/* Line from icon to the first dot */
.timeline-head-line {
  position: absolute;
  left: 5.7rem;
  top: 18.45rem;
  height: 3.8rem;
  width: 1px;
  background-color: #51515180;
  z-index: 0;
}

.section-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 2.4rem;
  position: relative; /*--------*/
}

.section-header h2 {
  margin: 0;
  font-size: 2.4rem;
  font-weight: bold;
}

.timeline {
  position: relative;
  padding-left: 2.4rem;
  border-left: 1px solid #51515180;
  margin-left: 2.5rem;
}

/*-------*/
/* .timeline::before {
  content: "";
  position: absolute;
  top: 0.8rem;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: #51515180;
  z-index: 0;
} */

.timeline-item:last-child::after {
  content: "";
  position: absolute;
  left: -2.5rem;
  bottom: -1.63rem;
  width: 5px;
  height: 100%;
  background-color: #1e1e1f;
  z-index: 2;
}

.timeline-item {
  position: relative;
  margin-bottom: 2.4rem;
  padding-left: 1.2rem;
}

.timeline-dot {
  position: absolute;
  top: 0rem;
  left: -3.2rem;
  width: 16px;
  height: 16px;
  background-color: #ffdb70;
  border-radius: 50%;
  border: 4px solid #2e2e2e;
  z-index: 1; /*---------*/
}

.timeline-content .project-heading {
  font-weight: 600;
  color: #fff;
  font-size: 1.6rem;
}

.timeline-content .period {
  color: #ffdb70;
  margin-top: 0.8rem;
}

.timeline-content .location {
  font-style: italic;
  margin: 0.8rem 0;
}

.bullet-list {
  list-style: none;
  padding: 0;
}

.bullet-list li {
  position: relative;
  padding-left: 1.2rem;
  line-height: 1.6;
  color: #d6d6d6;
  font-size: 1.6rem;
  font-weight: 300;
}

.bullet-list li:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #ffdb70;
  border-radius: 50%;
  left: 0;
  top: 1.1rem;
}

/****************************************************/
/* MAIN-CONTENT-CONTACT */
/****************************************************/
.form-row {
  display: flex;
  gap: 3.2rem;
  margin-bottom: 3.2rem;
}

.form-group {
  width: 100%;
}

.form-group input,
.form-group textarea {
  padding: 15px 20px;
  width: 100%;
  background-color: #1e1e1f;
  color: #fff;
  font-weight: bold;
  font-size: 1.4rem;
  border: 1px solid #51515180;
  border-radius: 14px;
}

.subject,
.message {
  margin-bottom: 3.2rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-left: auto;
  margin-bottom: 3.2rem;

  width: 17rem;
  height: 5rem;
  border: 1px solid #51515180;
  border-radius: 14px;
  color: #ffdb70;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.02),
    rgba(0, 0, 0, 0.06)
  );
  cursor: pointer;
}
